body{
	font-family:  "Calibri Light", Arial, sans-serif;
  	color: black;
  	margin: 0;
  	padding: 0;
  	font-size: 1em;
}

#blocpage{
	margin: auto;
   	display: flex;
   	flex-direction: column;
   	justify-content: flex-start;
   	background-color: #f1f1f1;
} 

#photoprofil{
	position: absolute;
	top: 1.5em;
	margin-left: 35%;
}

#nom{
	font-size: 2.5em;
	text-transform: uppercase;
	text-align: center;
    font-weight: bold;
    padding-top: 12rem;
    padding-bottom: 2rem;
    margin:auto
}

#nom em{
	color: #f7cb29;
	padding-right: 0.8rem;
	font-style: normal;
}

#nom span{
	color: #404040;
	font-size: 0.65em;
	text-transform: capitalize;
}

section1 h2, section2 h2{
	text-align: center;
	color: #f7cb29;
	background-color: #404040;
	padding: 0.3rem;
	text-transform: uppercase;
	margin: auto;
}

.contacts ul{
	list-style-type: none;
	font-size: 1em;
	text-align: left;
}

a{
	text-decoration: none;
	color: blue;
	font-style: italic;
	font-size: 1.2em;
}

a:hover{
	text-decoration: underline;
	color: purple;
}

p{
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: justify;
} 

h3, h3 + em{
	margin-left: 1rem;		
}

mark{
   	background-color: #f1f1f1;
	border-bottom: solid 1px #f7cb29;
	padding-bottom: 0.3rem;
}

#blocgauche{
	display: flex;
	flex-direction: column;
	background-color: #f7cb29;
}

.contacts:nth-child(1) p {
	order: 4;
	text-align: center;
}

.contacts:nth-child(1){
	order: 4;
}

.contacts:nth-child(2){
	order: 1;
}

.contacts:nth-child(3){
	order: 2;
}

.contacts:nth-child(4){
	order: 3;
}

#exp h3{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0;
	font-size: 1.1rem;
	font-weight: normal;
	font-style: italic;
}

#exp strong{
	margin-top: 0.5em;
	margin-bottom: 0;
	margin-left: 0.5em;
	font-size: 1rem;
}

#exp>h3{
    	background-color: #f1f1f1;
		border-bottom: solid 1px #f7cb29;
		padding-bottom: 0.3rem;
		margin-left: 10%;
		margin-right: 10%;
}


/*################################################## Tablettes ##################################################*/

@media screen and (min-width: 640px) and (max-width: 1023px)
{
	#photoprofil{
		position: absolute;
		width: 150px;
		height: 150px;
		top: 2.5em;
		margin-left: 40%;
	}

	#nom{
		margin-top: 0;
		font-size: 2.5em;
		text-transform: uppercase;
		text-align: center;
        font-weight: bold;
        padding-bottom: 0.3em;
	}

	#nom em{
		color: #f7cb29;
		padding-right: 0.5em;
		font-style: normal;
	}

	#nom span{
		color: #404040;
		font-size: 0.65em;
		text-transform: capitalize;
	}

	p{
		text-align: justify;
	    padding: 1em;
	}

	#blocpage{
    	display: flex;
    	flex-direction: column;
    	justify-content: flex-start;
    	margin: auto;
    	background-color: #f1f1f1;
	}

	#blocgauche{
		display: flex;
		flex-direction: row;
		margin: auto;
		background-color: #f1f1f1;
		flex-wrap: wrap;
	}

	.contacts:nth-child(1) p{
		text-align: center;
		margin: 0;
		padding: 0.4em;
	}

	.contacts:nth-child(1){
		order: 2;
		flex: 1;
		background-color: #f7cb29;
		text-align: center;
		margin-right: 0.2em;
		box-shadow: 6px 1px 6px black;
		margin: 1rem;
	}

	.contacts:nth-child(2){
		order: 1;
		text-align: justify;
		margin: 1rem;
	}

	.contacts:nth-child(3){
		order: 3;
        flex: 1.2;
        margin: 1rem;
	}

	.contacts:nth-child(4){
		order: 4;
        flex: 1.5;
        margin: 1rem;
	}

	#exp h2{
		color: #f7cb29;
		background-color: #404040;
		text-align: center;
        box-shadow: 6px 1px 6px black;
        text-transform: uppercase;
	}

	mark{
    	background-color: #f1f1f1;
		border-bottom: solid 1px #f7cb29;
		padding-bottom: 0.3em;
    }
}

/*################################################## Desktop ##################################################*/

@media screen and (min-width: 1024px)
{

	#blocpage{
		display: flex;
		flex-direction: row;
        align-items: baseline;
        width: 1200px;
        margin: auto;
        border: solid 2px black;
        background-color: white;
	}

	header{
		position: absolute;
		height: 17rem;
		background-color: #f7cb29;
		width: 300px;
	}

	#photoprofil{
		margin-top: 15%;
		margin-left: 25%;
	}

	section1{
		display: flex;
		flex-direction: column;
		vertical-align: baseline;
    	position: absolute;
    	margin-top: 17rem;
    	width: 300px;
    	background-color: #f7cb29;	
    	margin-bottom: 0;
    	padding-bottom: 6rem;	
	}

	section1 p{
		padding: 1em;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.contacts:nth-child(1) p{
		text-align: center;
		margin: 0;
		padding: 0.5em;
	}

	.contacts:nth-child(1){
		order: 1;
	}

	.contacts:nth-child(2){
		order: 2;
	}

	.contacts:nth-child(3){
		order: 3;
	}

	.contacts:nth-child(4){
		order: 4;
	}

    section2{
    	display: flex;
    	flex-direction: column;
    	margin-top: 20rem;
    	margin-left: 310px;
    	width: 70%;   	
    }

    section2 h2{
    	margin-left: 4rem;
    	border-bottom: solid 1px #f7cb29;
    	width: 90%;
    	text-transform: uppercase;
    	padding-bottom: 0.3em;
    	color: black;
    	text-align: left;
	    background-color: white;
    }

    #nom{		
		margin-left: 25rem;
		margin-top: -6rem;
		font-size: 2.5rem;
		width: 100%;
		text-transform: uppercase;
        font-weight: bold;
	}

	#nom em{
		color: #f7cb29;
		padding-right: 1rem;
		font-style: normal;
	}

	#nom span{
		color: #404040;
		font-size: 1.5rem;
	}

    mark{
    	background-color: white;
		border-bottom: solid 1px #f7cb29;
		padding-bottom: 0.3rem;
    }

    #exp{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        background: url("Experience.png") no-repeat;
    }

    #exp h3{
        margin-left: 0;
        text-align: left;
        background-color: white;
        border: none;
    }
    
    #exp strong{
        margin-left: 24rem;
        width: 90%;
        padding-left: 0;
        margin-top: 0;
        background-color: white;
    }

    #exp ul{
        flex-wrap: wrap;
        margin: 0;
        margin-left: 22em;
        margin-bottom: 1rem;
        list-style-type: none;
    }

    #compet{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        background: url("Competences.png") no-repeat;
    }
}